In [15]:
import pandas as pd
from re import search

In [46]:
#FUNCTION TO IDENTIFY DATE COLUMNS, PREPROCESS THEM AND Creating new columns with difference of two date columns
def datecolumns(dataframe): 
    dataframe = dataframe.fillna(0)  #fill NaN values with 0
    l = list(dataframe.columns)
    dc = ['Date','date','DATE']
    for i in l:
        for d in dc:
            if search(d,i):
                dataframe[i]=dataframe[i].astype('datetime64')
    columns = list(dataframe.select_dtypes(include='datetime64').columns[0:])     #select columns with datetime dtype
    for column in columns:
        if columns.index(column)+1<len(columns):
            dataframe[column] = pd.to_datetime(dataframe[column])       #convert all elememts in a column to a datetime object
            colname = 'diff' + column[0]    #new column with name - diff'char', diff'char'...
            dataframe[colname] = dataframe[column] - dataframe[columns[columns.index(column)+1]]    
            dataframe[colname] = dataframe[colname]/np.timedelta64(1,'Y')     #calculating difference in terms of years and storing it in new column
    print(dataframe)

In [47]:
df = pd.read_csv('ODI_Match_Totals.csv')
print(df)

      Unnamed: 0  Score  Overs   RPO  Target  Inns Result   Opposition  \
0            412    250   48.3  5.15     NaN     1    won      v India
1            680    165   48.0  3.43   251.0     2   lost   v Pakistan
2            413    157   48.5  3.21   168.0     2   lost      v India
3            681    167   43.4  3.82     NaN     1    won   v Pakistan
4            117    198   40.0  4.95   306.0     2   lost  v Australia
...          ...    ...    ...   ...     ...   ...    ...          ...
1291         549  340/7   50.0  6.80     NaN     1   lost    v England
1292         979  341/7   49.3  6.88   341.0     2    won   v Pakistan
1293        1296  120/8   33.0  3.63   211.0     2      -    v Ireland
1294         550  193/6   31.5  6.06   352.0     2      -    v England
1295         980  351/9   50.0  7.02     NaN     1      -   v Pakistan

          Ground   Start Date    Match_ID      Country  Country_ID
0        Kolkata   3 Jan 2013  ODI # 3315     Pakistan           7
1        Kolkata   3 Jan 2013  ODI # 3315        India           6
2          Delhi   6 Jan 2013  ODI # 3316     Pakistan           7
3          Delhi   6 Jan 2013  ODI # 3316        India           6
4      Melbourne  11 Jan 2013  ODI # 3317     SriLanka           8
...          ...          ...         ...          ...         ...
1291  Nottingham  17 May 2019  ODI # 4138     Pakistan           7
1292  Nottingham  17 May 2019  ODI # 4138      England           1
1293     Belfast  19 May 2019  ODI # 4139  Afghanistan          40
1294       Leeds  19 May 2019  ODI # 4140     Pakistan           7
1295       Leeds  19 May 2019  ODI # 4140      England           1

[1296 rows x 13 columns]

In [48]:
datecolumns(df)

      Unnamed: 0  Score  Overs   RPO  Target  Inns Result   Opposition  \
0            412    250   48.3  5.15     0.0     1    won      v India
1            680    165   48.0  3.43   251.0     2   lost   v Pakistan
2            413    157   48.5  3.21   168.0     2   lost      v India
3            681    167   43.4  3.82     0.0     1    won   v Pakistan
4            117    198   40.0  4.95   306.0     2   lost  v Australia
...          ...    ...    ...   ...     ...   ...    ...          ...
1291         549  340/7   50.0  6.80     0.0     1   lost    v England
1292         979  341/7   49.3  6.88   341.0     2    won   v Pakistan
1293        1296  120/8   33.0  3.63   211.0     2      -    v Ireland
1294         550  193/6   31.5  6.06   352.0     2      -    v England
1295         980  351/9   50.0  7.02     0.0     1      -   v Pakistan

          Ground Start Date    Match_ID      Country  Country_ID
0        Kolkata 2013-01-03  ODI # 3315     Pakistan           7
1        Kolkata 2013-01-03  ODI # 3315        India           6
2          Delhi 2013-01-06  ODI # 3316     Pakistan           7
3          Delhi 2013-01-06  ODI # 3316        India           6
4      Melbourne 2013-01-11  ODI # 3317     SriLanka           8
...          ...        ...         ...          ...         ...
1291  Nottingham 2019-05-17  ODI # 4138     Pakistan           7
1292  Nottingham 2019-05-17  ODI # 4138      England           1
1293     Belfast 2019-05-19  ODI # 4139  Afghanistan          40
1294       Leeds 2019-05-19  ODI # 4140     Pakistan           7
1295       Leeds 2019-05-19  ODI # 4140      England           1

[1296 rows x 13 columns]